html, body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
}
#root {
    height: 100%;
    box-sizing: border-box;
}
.app-container {
    height: 100%;
    box-sizing: border-box;
    background-color: #f6f6f6;
}
.app-container .ql-editor {
    min-height: 85vh;
}
.quill {
    height: 100%;
    box-sizing: border-box;
    width: calc(100% - 300px);
    float: left;
    background-color: #737373;
    color: black;
}
.ql-container {
    box-sizing: border-box;
    height: calc(100% - 42px);
    overflow-y: scroll;
    background-color: #F6F6F6;
}
.ql-editor {
    cursor: text;
    padding: 12px 17px;
}
.ql-snow .q{
    color: #d7d7d7 !important;
}
.ql-snow.ql-toolbar button:hover,
.ql-snow.ql-toolbar button.ql-active .ql-stroke,
.ql-snow.ql-toolbar button.ql-active:hover, .ql-snow.ql-toolbar button.ql-stroke:hover,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow .ql-toolbar button:hover, .ql-snow.ql-toolbar button.ql-active,
.ql-snow .ql-toolbar button.ql-active, .ql-snow.ql-toolbar .ql-picker-label:hover,
.ql-snow .ql-toolbar .ql-picker-label:hover,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow .ql-toolbar button.ql-active:hover, .ql-snow .ql-toolbar button.ql-stroke:hover,
.ql-snow.ql-toolbar .ql-picker-label.ql-active,
.ql-snow .ql-toolbar .ql-picker-label.ql-active,
.ql-snow.ql-toolbar .ql-picker-item:hover,
.ql-snow .ql-toolbar .ql-picker-item:hover,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected {
    color: #FBC601 !important;
    stroke: #FBC601 !important;
}
.MuiListItem-root.Mui-selected {
    background-color: #414249 !important;
}
.MuiTypography-colorTextSecondary {
    color: #525252 !important;
}
.no-note-selected {
    font-size: 48px;
    position: absolute;
    top: 50px;
    left: calc(50% - 165px);
}
.noteBackgroundImage {
    position: fixed;
    width: calc(100% - 300px);
    float: left;
    height: 100%;
}